<!DOCTYPE html>
<html ng-app="YourNameOfModule">
	<head>
		<title>AngularJS</title>
	</head>
	<body>
		<script src="lib/angular.js" type="text/javascript"></script>
        <link rel="stylesheet" href="lib/style.css" type="text/css" />

		<script  type="text/javascript">
		(function(){

			//Your bootstraping
			angular.module("YourNameOfModule",[])

			//Controllers, notice that controller is attached to (inside) our app.
			.controller("BookController", function(){
			    var self = this;
			    
				//Note, no name defined in object
				this.book = { };

				this.myList = [
					{ name: 'C# is the bomb!', price: 42 },
					{ name: 'AngularJS', price: 10},
					{ name: 'Xamarin Cross-platform Application Development', price: 199.99},
					{ name: 'Java is a joke!', price: 10},
					{ name: 'Learning AngularJS', price: 35.75}
				];

				this.add = function(){
				    this.myList.push(
                        {
                            name: this.book.name,
                            price: this.book.price
                        }
                    );
				    this.book = {};
				};
			});
		})();
		</script>

		<div ng-controller="BookController as BookCtrl">

			<h2>Form</h2>
			<input placeholder="Name..." ng-model="BookCtrl.book.name" />
			<input placeholder="Price..." ng-model="BookCtrl.book.price" />
			<input type="submit" ng-click="BookCtrl.add(true)" value="Create record" />

			<ul>

				<li ng-repeat="book in BookCtrl.myList">
				  [{{$index + 1}}] {{book.name}} - {{book.price}}
				</li>

				<li ng-if="BookCtrl.myList.length == 0">
				  <strong>No results found...</strong>
				</li>

			</ul>
		</div>
	</body>
</html>