<!DOCTYPE html>
<html ng-app="YourNameOfModule">
	<head>
		<title>AngularJS</title>
	</head>
	<body>
		<script src="lib/angular.js" type="text/javascript"></script>

		<script  type="text/javascript">
		(function(){
			var app = angular.module("YourNameOfModule",[])

			app.controller("BookController", function(){
			    var self = this;
				this.book = { price: 35};

				this.myList = [
					{ name: 'C# is the bomb!', price: 42 },
					{ name: 'AngularJS', price: 10},
					{ name: 'Xamarin Cross-platform Application Development', price: 199.99},
					{ name: 'Java is a joke!', price: 10},
					{ name: 'Learning AngularJS', price: 35.75}
				];

				this.add = function(){
					this.myList.push({name:this.book.name,price:this.book.price,canBuy:this.book.canBuy,soldOut:this.book.soldOut});
				};

				this.edit = function(book){
					this.book = book;
				};
			});

			//custom filter
			app.filter('startsWithLetter', function () {
			  return function (items, letter) {
			    var filtered = [];
			    var letterMatch = new RegExp(letter, 'i');
			    for (var i = 0; i < items.length; i++) {
			      var item = items[i];
			      if (letterMatch.test(item.name.substring(0, 1))) {
			        filtered.push(item);
			      }
			    }
			    return filtered;
			  };
			});
		})();
		</script>

		<div ng-controller="BookController as ctrl">
			<h2>Form</h2>
			<input placeholder="Name..." ng-model="ctrl.book.name" />
			<input placeholder="Price..." ng-model="ctrl.book.price" />
			<button ng-click="ctrl.add()">Create new record</button>

			<ul>
				<li ng-repeat="book in ctrl.myList | orderBy:'name'  | filter:{name:search} | startsWithLetter:letter " ng-click="ctrl.edit(book)">
				  {{book.name}} - {{book.price | currency}} 
				</li>
				<li ng-if="ctrl.myList.length == 0">
				  <strong>No results found...</strong>
				</li>
			</ul>
			
			<h2>Filters</h2>
			<label>Search: </label> <input placeholder="Search..." ng-model="search" /><br/>
			<label>Start with letter: </label> <input placeholder="Letter" ng-model="letter" /> (custom filter)
		</div>
	</body>
</html>