<!DOCTYPE html>
<html ng-app="ScopeExample">
	<head>
		<title>AngularJS</title>
        <link rel="stylesheet" href="lib/style.css" type="text/css" />
	</head>
	<body>
		<script src="lib/angular.js" type="text/javascript"></script>

		<script  type="text/javascript" />
		(function(){

			var app = angular.module("ScopeExample",[]);

			app.controller("BookController", ['$scope', function($scope) {
				$scope.book = { name: 'SPA using AngularJS', price: 35 };

				$scope.amountToAdd = 10;

				$scope.addToPrice = function(){
					$scope.book.price += parseInt($scope.amountToAdd);
				};
			}]);

		})();
		</script>

		<div ng-controller="BookController">
			<h1>{{book.name}} - Price  € {{book.price}}</h1>
			<p>
				<input type="text" ng-model="amountToAdd" />
				<input type="button" ng-click="addToPrice()" value="Add {{amountToAdd}}€ to price"/>
			</P>
		</div>
	</body>
</html>